<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PKHL.ProjectSweeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ProjectSweeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PKHL.ProjectSweeper.Properties.Settings>
            <setting name="AddinPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="EntCheck" serializeAs="String">
                <value>2015-05-01</value>
            </setting>
        </PKHL.ProjectSweeper.Properties.Settings>
        <ProjectSweeper.Properties.Settings>
            <setting name="AddinPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="EntCheck" serializeAs="String">
                <value>2015-05-01</value>
            </setting>
        </ProjectSweeper.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
